[phases.setup]
nixPkgs = ["python311", "postgresql", "gcc", "libffi"]
nixLibs = ["libffi", "openssl"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "bash start.sh"
